<!DOCTYPE html>
<html lang="en">

<head>
    <title>Control</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/popup.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <script src="../scripts/bootstrap.bundle.min.js"></script>

    <script defer src="../popup.js"></script>
</head>

<body>
    <div class="card text-bg-dark" style="width: 18rem;">
        <h5 class="card-header">Productive YouTube</h5>
        <div class="card-body">
            <h5 class="card-title">Get work done!</h5>
            <p class="card-text">Its 2023, stay productive</p>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="focusModeSwitch">
                <label class="form-check-label" for="focusModeSwitch">Enable Focus
                    Mode</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="fasterVideosSwitch">
                <label class="form-check-label" for="fasterVideosSwitch">Enable Faster Videos</label>
            </div>
        </div>

        <div class="card text-bg-dark" id="playbackSpeedMultiplierDropdown">
            <div class="card-body">
                <h5 class="card-title">Faster YouTube Videos</h5>
                <p class="card-text">Go beyond 2x speed and learn faster.</p>
                <select class="form-select form-select-sm" id="playbackSpeedMultiplier">
                    <option value="1" selected>1x</option>
                    <option value="1.25">1.25x</option>
                    <option value="1.5">1.5x</option>
                    <option value="1.75">1.75x</option>
                    <option value="2">2x</option>
                    <option value="2.25">2.25x</option>
                    <option value="2.5">2.5x</option>
                    <option value="2.75">2.75x</option>
                    <option value="3">3x</option>
                    <option value="3.25">3.25x</option>
                    <option value="3.5">3.5x</option>
                    <option value="3.75">3.75x</option>
                    <option value="4">4x</option>
                </select>
            </div>
        </div>
    </div>
</body>

</html>